google-api-python-client==2.172.0
pandas==2.3.0
streamlit==1.45.1
matplotlib==3.10.3
seaborn==0.13.2
transformers==4.52.4
torch==2.7.1
openai==1.88.0
python-dateutil==2.9.0
bertopic==0.17.0
sentence-transformers==4.1.0
scikit-learn==1.7.0
numpy==2.2.6
plotly==6.1.2
umap-learn==0.5.7
hdbscan==0.8.40 